* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
html, body {
    background-color: #EEF0F4;
    user-select: none;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}
img {
    width: 150px;
    margin: 0 auto;
}
input {
    color: #432000;
    background-color: #DCE1EB;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    margin: 10px 0px;
}
button {
    color: #FDFDFD;
    background-color: #c4445b;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    cursor: pointer;
}
button:hover {
    background-color: #ae3d52;
}
#shopping-list  {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
}
#shopping-list li {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    list-style: none;
    background-color: rgb(255, 245, 231);
    padding: 8px 10px;
    border-radius: 10px;
    box-shadow: 1px 5px 10px rgba(220, 220, 220, 0.892);
    cursor: pointer;
}
#shopping-list li:hover {
    box-shadow: 2px 8px 10px rgb(220, 220, 220);
}